SUPABASE_URL=https://lwfvuecjqeocopzwcveh.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx3ZnZ1ZWNqcWVvY29wendjdmVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY5NzI1MTgsImV4cCI6MjA3MjU0ODUxOH0.8zlxEck4f0yWMRnMX4ihD4CCsgjYMl-ywm5ACZUL8fI
SUPABASE_SERVICE_ROLE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx3ZnZ1ZWNqcWVvY29wendjdmVoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Njk3MjUxOCwiZXhwIjoyMDcyNTQ4NTE4fQ.djnuEeQuaulTgu9ypUv2GxydL1CvJp9TprdVtB-ftMI
OPENWEATHER_KEY=73MGzVeMW4GBXDKLy2LLTP7CgjotXTfX
