# Testing cleanup toggle for dev
ALLOW_TEST_CLEANUP="true_or_false_you_choose"

#postman secret connection hash
TEST_SECRET="run_openssl rand -hex 32_to_generate_new_test_secret_for_postman"
SUPABASE_SERVICE_ROLE="service_role_key_from_your_supabase_db"
